.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    width: 500px;
    background-color: aqua;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border-radius: 20px;
   
    
}